@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chokokutai&family=Orbitron:wght@400..900&family=Protest+Guerrilla&family=Rubik+80s+Fade&family=Rubik+Lines&family=Sixtyfour&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    box-sizing: border-box;
}

canvas {
    display: block;
}

.con {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 99;
    background: transparent;
}

.title1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.bj_title{
    font-size: 80px;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    color: #00f0ff; /* 电光蓝 */
    text-shadow: 0 0 10px #00f0ff,
    0 0 10px #00f0ff,
    0 0 20px #00f0ff,
    0 0 40px #6f00ff; /* 混合紫色，霓虹感 */
    line-height: 1.5;
    animation: glowPulse 2.5s ease-in-out infinite;
}
.sm_title{
    font-size: 40px;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    color: white;
}
.title_img{
    width: 400px;
    margin-top: 20px;
}
.img2{
    width: 300px;
}
img{
    width: 100%;
    display: block;
}
/* 发光闪烁动画 */
@keyframes glowPulse {
    0%, 100% {
        color: #00f0ff;
        text-shadow: 0 0 5px #00f0ff,
        0 0 10px #00f0ff,
        0 0 20px #00f0ff,
        0 0 40px #6f00ff;
    }
    50% {
        color: #00d6ff;
        text-shadow: 0 0 10px #00d6ff,
        0 0 20px #00d6ff,
        0 0 40px #7f3fff,
        0 0 60px #7f3fff;
    }
}

.con-text {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    line-height: 1.8;
    padding: 10vw 10vw;
}
.con-text>p{
    width: 100%;
    text-align: justify;
    color: #0000FF;
}
.right_text{
    margin-left: auto;
    color: #0000FF !important;

}
.text1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
}
.text1 p{
    color: #0000FF;
    width: 70%;
}
.text1 div{
    width: 30%;
}